<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"/>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="realm"></property>
	</bean>

	<bean id="realm" class="com.sshs.shiro.Realm"/>
	
	<bean id="authorizeFilter" class="com.sshs.shiro.AuthorizeFilter"/>

	<bean id="shiroFilter" class="com.sshs.shiro.ShiroFilterFactory">
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="/office/authr/autheticationFail.do" />
		<property name="unauthorizedUrl" value="/office/authr/permissionDeny.do" />
		<property name="filterChainDefinitions">
			<value>
			</value>
		</property>
		<property name="filters">
			<util:map>
				<entry key="authorizeFilter" value-ref="authorizeFilter"/>
			</util:map>
		</property>
	</bean>

</beans>
